[submodule "third-party/echfs"]
	path = third-party/echfs
	url = https://github.com/qword-os/echfs
[submodule "third-party/limine"]
	path = third-party/limine
	url = https://github.com/limine-bootloader/limine
	branch = v1.0-branch
[submodule "third-party/stivale"]
	path = third-party/stivale
	url = https://github.com/stivale/stivale
